@font-face {
    font-family: Georgi;
    src: url("Media/georgia.ttf");
}

body {
    font-family : Georgi;
    color : #ffffff;
    background-color : #940d24;
    border-style : solid;
    border-width : 5px;
    border-color : #000000;
}

h2 {
    font-family : Times, "Times New Roman", serif;
    text-shadow: 3px 3px 3px #888888;
}

html {
    text-align : center;
}

article {
    padding : 10px;
}

nav {
    background : #d8d8d8;
    font-weight : bold;
    float: left;
    height : 1281px;
    border-right : solid;
    border-color : #000000;
    border-width : 3px;

    background-image: url("Media/firstLogoTransparent.png");
    background-repeat: repeat-y;
    background-size: contain;
}

nav > a {
    color: #ffffff;
}

.navlinks {
    display: block;
    border: 2px solid #000000;
    padding: 2px 5px;
    background: #2a51de;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 5px 5px #888888;
}

.floatright {
    float : right;
    clear : right;
    margin : 10px;
}

.columnTitle {
    width : 750px;
    height : 75px;
    padding : 10px;
}

.columnContent {
    width : 550px;
    height : 210px;
    padding : 10px;
}

.row:after {
    content : "";
    display : table;
    clear : both;
}

div {
    column-count : 2;
    text-align : center;
}

br ~ a {
    padding: 5px;
}